<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distro - Order</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/53802517bf.js" crossorigin="anonymous"></script>
    <style>
		.center {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 5vh;
		}
        h1 {
			font-size: 5em;
		}
		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			margin: 20px auto;
			max-width: 800px;
			padding: 20px;
			border-radius: 10px;
		}
		.box {
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 20px;
			text-align: center;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
		}
		.item-name {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.date {
			margin-bottom: 10px;
		}
		.mybutton {
			padding: 10px 20px;
			background-color: #4CAF50;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
		}
        .id{
            font-size: 12px;
            color: #666;
            margin-bottom: 5px;
        }
        .count {
			font-size: 14px;
			color: #999;
			margin-bottom: 10px;
		}
	</style>
</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

    
<header>
    <!--Nav-->
    <% if(session.isLoggedIn === true) {  %>
        <%- include('partials/header_dash.ejs', session) %>
    <% } else { %> 
        <%- include('partials/header.ejs', session) %>
    <% } %>
</header>


<main>
    <% if(session.isLoggedIn === true) {  %>
    <!-- Dasboard -->
    <div class="flex flex-col md:flex-row">
        <!-- Vertical Nav -->
        <%- include('partials/dash_nav.ejs', {session, page: 'order'}) %>
        <!-- Actual Dashboard -->
        <section>
            <div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

                <!-- Page Title -->
                <div class="bg-gray-800 pt-3">
                    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                        <!-- Change this for each page -->
                        <h1 class="font-bold pl-2">Location</h1>
                    </div>
                </div>

          <!--      <a href="/dashboard/orderReq">-->
                <form class="flex flex-col" action="/dashboard/orderRequest" method="POST">
                    <div class="mb-6 pt-3 rounded bg-gray-200">
                        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3 text-left" for="Location">Select Location to send order:</label>
                        <select class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-red-500 transition duration-500 px-3 py-3" name="location" id="location" required>
                            <option value="">--Please Select Location (Location Manager)--</option>
                            <% for (const i of Locations) { %>
                                <option value="<%=i.locationID%>"><%=i.name%></option>
                            <% } %>
                        </select>
                        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3 text-left" for="Warehouse">Select Warehouse to order from:</label>
                        <select class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-red-500 transition duration-500 px-3 py-3" name="warehouse" id="warehouse" required>
                            <option value="">--Please Select Warehouse (Warehouse Manager)--</option>
                            <% for (const i of Warehouses) { %>
                                <option value="<%=i.locationID%>"><%=i.name%></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit">
                        <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                            <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
                                <div class="flex flex-row items-center">
                                    <div class="flex-shrink pr-4">
                                        <div class="rounded-full p-5 bg-green-600"><i class="fa-solid fa-plus fa-2xl" style="color: #ffffff;"></i></div>
                                    </div>
                                    <div class="flex-1 text-right md:text-center">
                                    <p class="font-bold text-3xl"> Create an Order </p>
                                    <h2 class="font-bold uppercase text-gray-600">Click Here!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>
                <% if (!Orders || Orders.length === 0) { %>
                    <div class="center">
                        <h1>No Orders Listed</h1>
                    </div>
                <% } else { %>
                    <div class="flex flex-row flex-wrap flex-grow mt-2">
                        <div class="center">
                            <h1>Requested Orders</h1>
                        </div>
                        <% for(const i of Orders) { %> 
                        <form action="/dashboard/api/order" method="POST">
                            <div class="container">
                                <div class="box">
                                    <div class="id">Order Group: <%= i.orderID %></div>
                                    <div class="date">Date Ordered: <%= i.dateOrdered %></div>
                                    <div class="item-name">Item: <%= i.itemName %></div>
                                    <div class="count">Amount: <%= i.quantity %></div>
                                    <input type="hidden" name="itemName" value=<%= JSON.stringify(i.itemName) %>>
                                    <input type="hidden" name="item" value=<%= JSON.stringify(i.item) %>>
                                    <input type="hidden" name="locationID" value=<%= JSON.stringify(i.locationID) %>>
                                    <input type="hidden" name="quantity" value=<%= JSON.stringify(i.quantity) %>>
                                    <input type="hidden" name="orderID" value=<%= JSON.stringify(i.orderID) %>>
                                    <button class="mybutton" type="submit">Items Received</button>
                                </div>
                            </div>
                        </form>
                        <% } %>
                    </div>
                <% } %>
                
             <!--   </a>-->

                <!-- Do not Touch anything in this DIV PLEASE -Cameron -->
                <div class="flex flex-row flex-wrap flex-grow mt-2">

                <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                    <!--Graph Card-->
                    <div class="">
                        <div class="">
                            <h class=""></h>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
                            
                        </div>
                    </div>
                    <!--/ Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                    <!-- Card-->
                    <div class="">
                        <div class="">
                            <h2 class=""></h2>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
                            
                        </div>
                    </div>
                    <!--/ Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                    <!-- Card-->
                    <div class="">
                        <div class="">
                            <h2 class=""></h2>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                           
                        </div>
                    </div>
                    <!--/ Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                    <!-- Card-->
                    <div class="">
                        <div class="">
                            <h5 class=""></h5>
                        </div>
                        <div class="p-5"><canvas id="chartjs-4" class="chartjs" width="undefined" height="undefined"></canvas>
                            
                        </div>
                    </div>
                    <!--/ Card-->
                </div>

                    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                        <!--Table Card-->
                        <div class="">
                            <div class="">
                                <h2 class=""></h2>
                            </div>
                            <div class="p-5">
                                

                            </div>
                        </div>
                        <!--/table Card-->
                    </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                    <!--Advert Card-->
                    <div class="">
                        
                    </div>
                    <!--/Advert Card-->
                </div>


                </div>
            </div>
        </section>
    </div>
    <% } else {  %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</main>




<script>
    /*Toggle dropdown list*/
    function toggleDD(myDropMenu) {
        document.getElementById(myDropMenu).classList.toggle("invisible");
    }
    /*Filter dropdown options*/
    function filterDD(myDropMenu, myDropMenuSearch) {
        var input, filter, ul, li, a, i;
        input = document.getElementById(myDropMenuSearch);
        filter = input.value.toUpperCase();
        div = document.getElementById(myDropMenu);
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
            var dropdowns = document.getElementsByClassName("dropdownlist");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (!openDropdown.classList.contains('invisible')) {
                    openDropdown.classList.add('invisible');
                }
            }
        }
    }
</script>


</body>

</html>
